body{
  background: rgb(196, 237, 245);
}

.navbar{
  background: rgba(16, 1, 58, 0.1)!important;
  font-size: 1.2rem;
  font-weight: 500;
}

.button{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 200px;
  padding: 20px 0;
  margin: 40px;
  border-radius: 8px;
  background: rgb(16, 1, 58);
  color: #FFCB05;
}

